.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  max-width: 170px;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
  flex: 1;
  text-align: left;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

@media (max-width: 510px) {
  .input {
    border-top: 1px solid #ad5502;
    padding-top: 1rem;
  }
}
